* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Switzer", sans-serif;
}

body {
  background-color: #17171f;
}

.gradient {
  background: linear-gradient(90deg, rgb(211, 112, 209), #ad2988, rgb(232, 13, 181));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  scroll-snap-align: start;
}

.box {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}


/* --text: #fcfcfd;
--background: #07090d;
--primary: #33405b;
--secondary: #161b27;
--accent: #6278a7; */
